
  .InputTitle {
    color: #cecece;
    width: calc(100% - 0px);
    box-sizing: border-box;
    background-color: rgb(83, 90, 94);
    border-color: rgb(62, 68, 70);
    outline-color: initial;
    padding: 0.3125rem;
    font-size: 1.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid rgb(62, 68, 70);
    margin-top: 0.625rem;
    outline: none;
    font-family: Arial;

  }

  .InputBody {
    color: #cecece;
    background-color: rgb(83, 90, 94);
    border-color: rgb(62, 68, 70);
    outline-color: initial;
    width: calc(100% - 0px);
    box-sizing: border-box;
    resize: none;
    height: 12.5rem;
    padding: 0.3125rem;
    font-size: 1.25rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid rgb(62, 68, 70);
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    outline: none;
    font-family: Arial;
  }

  .InsideForm {
    background-color: rgb(48, 52, 54);     
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    max-width: 40.625rem;
  }

  .Form {
    background-color:  rgb(48, 52, 54);
  }

  .Button {
    color: rgb(91, 91, 91);
    border-radius: 0.3125rem;
    padding: .5rem 1rem;
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 0.875rem;  
  }

  .Button:hover {
    background-color: #cecece;
    border-radius: 0.3125rem;
    padding: .5rem 1rem;
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 0.875rem;
  }
 