
  .Form {
    display: flex;
    flex-direction: column;
  }
  
  .InputTitle {
    color: #cecece;
    width: calc(100% - 0px);
    box-sizing: border-box;
    background-color: rgb(83, 90, 94);
    border-color: rgb(62, 68, 70);
    outline-color: initial;
    padding: 0.3125rem;
    font-size: 1.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid rgb(62, 68, 70);
    margin-top: 0.625rem;
    outline: none;
    font-family: Arial;
  }

  .InputBody {
    color: #cecece;
    background-color: rgb(83, 90, 94);
    border-color: rgb(62, 68, 70);
    outline-color: initial;
    width: calc(100% - 0px);
    box-sizing: border-box;
    resize: none;
    height: 12.5rem;
    padding: 0.3125rem;
    font-size: 1.25rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid rgb(62, 68, 70);
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    outline: none;
    font-family: Arial;
  }

  .EmbedLink {
    color: #cecece;
    width: calc(100% - 0px);
    box-sizing: border-box;
    background-color: rgb(83, 90, 94);
    border-color: rgb(62, 68, 70);
    outline-color: initial;
    padding: 0.3125rem;
    margin-bottom: .25rem;
    font-size: 1.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid rgb(62, 68, 70);
    outline: none;
    font-family: Arial;
  }

  .InsideForm {
    background-color: rgb(48, 52, 54);     
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    max-width: 40.625rem;
    overflow: hidden;
    width: 100%
  }

  .FormTitle{
    padding-top: 4rem;
    color:#beb4a9;
  }

  .Form {
    background-color:  rgb(48, 52, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
  }

  .SaveButton{
    float:right;
    margin-left:0.875rem;
    margin-bottom: 0.875rem;
    flex-direction: column;
  }
  .SumbitButton{
    float:right;
    margin-bottom: 0.875rem;
    flex-direction: column;
  }

  .LeftButton {
    flex-direction: column;
    float: left;
    /* margin-bottom: 0.875rem;
    margin-left:0.875rem; */
  }

  .post-filter-tags {
    background-color: blue;
    width: 100%; /* Fill the maximum width of the parent container */
    height: 100%; /* Fill the maximum height of the parent container */
    flex-grow: 1; /* Grow downward as the child element fills */
  }
