
.Form {
  display: flex;
  flex-direction: column;
}

.InsideForm {
  background-color: #f0f0f0;   
  margin: 2.5rem 0.625rem;
  max-width: 40.625rem;
  overflow: hidden;
  width: 100%;
  border-radius: 7px;
  padding: 0.1rem 0.8rem 1.2rem 0.8rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.InputTitle {
  color: #383c41;
  width: calc(100% - 30px);
  box-sizing: border-box;
  background-color: #f0f0f0;
  outline-color: initial;
  padding: 0.3125rem;
  font-size: 1.625rem;
  border-radius: 5px;
  border: 1px solid #bbbec2;
  margin: 0.625rem auto;
  outline: none;
  font-family: Arial;
}
.InputTitle:focus {
  color: #383c41;
  background-color: #f0f0f0;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0;
}

.InputBody {
  color: #383c41;
  background-color: #f0f0f0;
  outline-color: initial;
  width: calc(100% - 30px);
  box-sizing: border-box;
  resize: none;
  height: 12.5rem;
  padding: 0.3125rem;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 1px solid #bbbec2;
  margin: 0.625rem auto;
  outline: none;
  font-family: Arial;
}
.InputBody:focus {
  color: #383c41;
  background-color: #f0f0f0;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0;
}

.EmbedLink {
  color: #383c41;
  width: calc(100% - 30px);
  box-sizing: border-box;
  background-color: #f0f0f0;
  outline-color: initial;
  padding: 0.3125rem;
  margin: 0.625rem auto;
  font-size: 1.625rem;
  border-radius: 5px;
  border: 1px solid #bbbec2;
  outline: none;
  font-family: Arial;
}
.EmbedLink:focus {
  color: #383c41;
  background-color: #f0f0f0;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0;
}



.FormTitle{
  color: black;
}

.Form {
  background-color:  rgb(48, 52, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30%;
}

.SubmitButton{
  background-color: #2fa92f;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  margin: 1.5rem auto 0.5rem auto;
  transition: all 0.2s ease-in-out 0ms;
  width: calc(100% - 30px);
}
.SubmitButton:hover {
  background-color: #248424;
}

.post-filter-tags {
  background-color: blue;
  width: 100%; /* Fill the maximum width of the parent container */
  height: 100%; /* Fill the maximum height of the parent container */
  flex-grow: 1; /* Grow downward as the child element fills */
}
