/* footer.css */
.footer {
    margin: 20px auto 0 auto;
    background-color: rgb(49, 54, 58);
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    display: grid;
    justify-content: center;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    margin: 1rem 0;
    display: block;
}

.footer-link:hover {
    text-decoration: underline;
}

/* scrollbar */
/* styles.css */
body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
  -webkit-border-radius: 10px;
    border-radius: 10px;
}


