.form{
    padding: 1rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(230, 230, 230);
    color: black;
    width: 250px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.FormContainer{
    display: flex;
    justify-content: center;
    margin: 100px 0;
    overflow: initial;
}

.submit-button {
    background-color: #2fa92f;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    margin: 0.4rem auto;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out 0ms;
    width: 96%;
}

.submit-button:hover {
    box-shadow: 10px black;
    background-color: #248424;
}

.label {
    text-align: left;
    margin: 0.4rem;
}

.input-field {
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
    margin: 0.4rem 0.4rem 0.75rem 0.4rem;
    background-color: rgb(230, 230, 230);
    height: 25px;
}