.form{
    /* padding: 1rem 2rem 2rem 2rem; */
    padding: 1rem 1rem 1rem 1rem;
    border: 3px solid rgba(165, 148, 144, 0.918);
    display: flex;
    flex-direction: column;
}
.form > input{
    margin: 1rem;
}
.FormContainer{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: #beb4a9;
    overflow: initial;
}