.Button {
    color: rgb(91, 91, 91);
    border-radius: 0.3125rem;
    padding: .5rem 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    /* margin-bottom: 0.875rem;   */
  }

  .Button:hover {
    background-color: #cecece;
    border-radius: 0.3125rem;
    padding: .5rem 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    /* margin-bottom: 0.875rem; */
  }