.ThreadList {
    display: flex;
    flex-direction: row;
    /* justify-content: 
    space-around; */
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
   
    margin: 0;
    padding: 0;
    /*margin-left: 300px;*/
}