.wrapper {
  width: 100%;
}

h1 {
  color: rgb(230, 230, 230);
  text-align: left;
  margin-left: 1rem;
}

.userCard {
  margin: 2rem 1rem;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  float: right;
  position: relative;
  right: 8%;
  display: block;
}
.cardWidth {
  width: 25%;
}

.posts {
  width: 54%;
  float: left;
  margin: 1rem 1rem 2rem 1rem;
  position: relative;
  left: 8%;
}

/* input field */
.form-cont {
  display: block;
  width: 90%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #495057;
  background-color: #f0f0f0;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  word-wrap: break-word;
}
.form-gp {
  margin-bottom: 1.5rem;
}
.form-gp label {
  display: inline-block;
  margin-bottom: 0.5rem !important;
  color: black;
}
.cardRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr;
}

.myb-3 {
  margin-top: 0;
  margin-bottom: 1rem !important;
}
.h3 {
  font-size: 1.45rem;
  font-weight: bold;
  line-height: 1.2;
}
.pp-4 {
  padding: 1.5rem;
}

.profile-tab-nav {
  text-align: center;
  min-width: 250px;
}
.tab-content {
  flex: 1;
}
.cardRow-md {
  width: 100%;
  margin-right: 27px;
}

.cardRow-md-12.form-cont {
  position: relative;
}


.cta-b {
  background-color: #2fa92f;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  margin: 0.4rem auto;
  width: 90%;
}
.cta-b:hover {
  background-color: #248424;
  color: #fff;
}

.shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.tab-content {
  flex: 1;
}

.form-gp {
  margin: 0 1rem 1.5rem 1rem;
}

.nav-pills a.nav-link {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  color: #333;
}
.nav-pills a.nav-link i {
  width: 20px;
}

div.form-gp,
input.form-cont {
  margin: 5px;
}
