.UserCard {
    margin: 2rem auto;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
}
.CardWidth {
    width: 85%;
}


/* input field */
.Form-cont {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #383c41;
    background-color: #f0f0f0;
    background-clip: padding-box;
    border: 1px solid #bbbec2;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.Form-cont:focus {
    color: #383c41;
    background-color: #f0f0f0;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0;
}
.Form-gp {
    margin-bottom: 1.5rem;
}
.Form-gp label {
    display: inline-block;
    margin-bottom: 0.5rem !important;
    color: black;
}
.CardRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-column-gap: 1rem;
}

.Myb-3 {
    margin-bottom: 1rem !important;
}
.h3 {
    font-size: 1.45rem;
    font-weight: bold;
    line-height: 1.2;
}
.pp-4 {
    padding: 1.5rem;
}
textarea {
    resize: vertical;
}
.Profile-tab-nav {
    text-align: center;
}
.Tab-content {
    flex: 1;
}
.CardRow-md {
    width: 100%;
    margin-right: 27px;
}
textarea.Form-cont {
    height: auto;
    padding: 0;
}
.CardRow-md-12.Form-cont {
    position: relative;
}
.cta-flex {
    display: flex;
}
.Border-right {
    border-right: 1px solid #dee2e6 !important;
}
.Cta-b {
    background-color: #2fa92f;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    margin: 10px 10px 20px 15px;
    width: 90%;
}
.Cta-b:hover {
    background-color: #248424;
    color: #fff;
}

.shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.Profile-tab-nav {
    min-width: 250px;
}

.Tab-content {
    flex: 1;
}

.Form-gp {
    margin: 0 1rem 1.5rem 1rem;
}

.nav-pills a.nav-link {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #333;
}
.nav-pills a.nav-link i {
    width: 20px;
}


@media (max-width: 700px) {
    .UserCard {
        display: block;
    }
    .CardRow {
        grid-template-columns: 1fr;
    }
    .border-right {
        border-right: 0 !important;
    }
    div.Form-gp,
    input.Form-cont {
        margin: 5px;
    }
    input.Form-cont {
        margin: 5px;
        padding: 15px;
        width: 96%;
    }
}


